<div class="banner mb-4">
  <div class="container text-center">
    <h1>Cocktails Galore Bitches.</h1>
    <p>Awwwwwwwwww yeah.</p>
  </div>
</div>
  <div class="card-grid">
    <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail), class: "no-dec" do %>
        <div class="card-product mb-4">
          <%= image_tag "moscow.jpg", alt: "Le Wagon", width: 200 %>
          <div class="card-product-infos">
          <h2><%= cocktail.name %></h2>
          <p><%= cocktail.description %></p>
        </div>
      </div>
        <% end %>
    <% end %>
  </div>
<div class="container mx-auto d-flex justify-content-center mb-4">
  <%= link_to "Add New Cocktail", new_cocktail_path, class: "btn-base btn-green" %>
</div>
